.setting_row,
.setting_action_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-small);
    padding: var(--space-regular);
    border-radius: var(--space-small);
    width: 361px;
    min-height: 60px;
    border: none;
}

.setting_row {
    background-color: var(--secondary-100);
}

.setting_row:hover {
    background-color: var(--secondary-700);
}

.setting_action_row {
    background-color: var(--secondary-500);
    cursor: pointer;
}
.setting_action_row:hover {
    background-color: var(--orange-500);
}

.left_icon,
.right_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--black-500);
}

.setting_title {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--black-500);
}

.language_icon_container {
    display: flex;
    align-items: center;
    gap: var(--space-small);
}

.language {
    margin: 0;
    font-weight: var(--font-weight-medium, 500);
}

.setting_action_row.logout {
    background-color: var(--secondary-100);
    color: var(--black-500);
}

.setting_action_row.delete {
    background-color: var(--secondary-100);
    color: var(--black-500);
}

.setting_action_row.delete:hover {
    background-color: var(--orange-100);
}
