.page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-regular);
    width: 393px;
    height: 852px;
    margin: 0px;
    padding: 0px;
}
.page_content {
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-regular);
    gap: var(--space-regular);
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
}

.top_section {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    margin-bottom: var(--space-large);
    width: 100%;
    box-sizing: border-box;
}
.bottom_section {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    width: 100%;
    box-sizing: border-box;
}
