.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 393px;
}

.nav_logo {
    width: 180px;
    height: auto;
}

.nav_icon {
    width: 24px;
    height: 24px;
}
