.primary {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

.input_container {
    width: 100%;
    max-width: 100%;
    height: var(--space-large);
    display: flex;
    flex-direction: column;
    gap: var(--space-extra-small);
    box-sizing: border-box;
}

.label_container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-extra-small);
    box-sizing: border-box;
}

.input_name {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-style-normal);
    color: var(--black-200);
}
.account_info_title {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
}

.input_box {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    border: 1px solid var(--black-500);
    color: var(--black-100);
    width: 100%;
    max-width: 100%;
    height: var(--space-large);
    border-radius: var(--space-small);
    align-items: center;
    display: flex;
    padding: var(--space-regular);
    box-sizing: border-box;
}
.number_input_container {
    border: 1px solid var(--black-500);
    color: var(--black-100);
    width: 100%;
    max-width: 100%;
    height: var(--space-large);
    border-radius: var(--space-small);
    align-items: center;
    display: flex;
    padding: var(--space-regular);
    box-sizing: border-box;
}
.phone_number_input {
    border: var(--white);
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex: 1;
}
.flag {
    font-family: var(--font-family);
    font-size: var(--font-size-label);
}
.dropdown_box {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    border: 1px solid var(--black-500);
    color: var(--grey-400);
    width: 100%;
    height: var(--space-large);
    border-radius: var(--space-small);
    align-items: center;
    display: flex;
    padding: var(--space-regular);
}
.option_box {
    width: 168px;
    height: 36px;
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);
}
