.button_container {
    display: flex;
    padding: var(--space-small);
    justify-content: center;
    align-items: center;
    gap: var(--space-small);
    border-radius: var(--space-extra-small);
    border: 1px solid var(--black-200);
    background: var(--white);
    cursor: pointer;
    transition: all 0.2s ease;
    height: 32px;
    width: 32px;
}

.button_container:hover {
    background: var(--primary-50);
}

.button_icon {
    width: 18px;
    height: auto;
    transition: transform 0.2s ease;
}

.button_container:hover .button_icon {
    transform: scale(1.1);
}
