.nav {
    width: 393px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-large);
    margin: 0;
    padding: var(--space-regular);
    border-top: 1px solid var(--black-50);
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.navbar_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-extra-small);
    width: 60px;
    height: 44px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.navbar_icon {
    width: 24px;
    height: 24px;
    display: block;
    color: var(--black-500);
    transition: color 0.15s ease;
}

.icon_outline {
    display: block;
}
.icon_filled {
    display: none;
}

.navbar_text {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: var(--font-extra-size);
    line-height: var(--line-height-small);
    color: var(--black-500);
    transition: color 0.15s ease;
}

.navbar_item:hover .navbar_icon,
.navbar_item[data-active="true"] .navbar_icon {
    color: var(--primary-500);
    font-weight: var(--font-weight-bold);
}

.navbar_item:hover .navbar_text,
.navbar_item[data-active="true"] .navbar_text {
    color: var(--primary-500);
    font-weight: var(--font-weight-bold);
}

.navbar_item:hover .icon_outline,
.navbar_item[data-active="true"] .icon_outline {
    display: none;
}
.navbar_item:hover .icon_filled,
.navbar_item[data-active="true"] .icon_filled {
    display: block;
}
