.card_container {
    display: flex;
    width: 170px;
    min-height: 245px;
    height: 245px;
    padding: var(--space-regular);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.collection_container {
    display: flex;
    width: 170px;
    height: 179px;
    padding: var(--space-regular);
    flex-direction: column;
    align-items: center;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.scroll_container {
    display: flex;
    width: 100px;
    height: auto;
    padding: var(--space-regular);
    flex-direction: column;
    align-items: center;
}

.scroll_image {
    height: 80px;
    width: auto;
}

.card_image {
    height: 120px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 4px;
    font-family: var(--font-family);
    margin: var(--space-small);
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    overflow: visible;
}

.card_title {
    color: var(--black-500);
    font-size: var(--font-size-regular);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: calc(1.4em * 1);
    max-height: calc(1.4em * 2.2);
}

.scroll_text {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
    margin: var(--space-regular);
}

.scroll_title {
    color: var(--black-500);
    width: 80px;
    height: auto;
    text-align: center;
    font-size: var(--font-size-regular);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    /* margin: 0px;
    padding: 0px; */
}

.card_subtitle {
    color: var(--black-200);
    font-size: var(--font-size-small);
    font-style: var(--font-style-normal);
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: calc(1.5em * 1);
    max-height: calc(1.5em * 2.2);
}

.button_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--space-small);
    flex-shrink: 0;
    margin-top: auto;
}

.buttons_hidden {
    display: none;
}

.subtitle_hidden {
    display: none;
}
