.tag_container {
    display: inline-flex;
    padding: var(--space-small) var(--space-regular);
    align-items: center;
    border-radius: var(--space-small);
    background: var(--black-500);
    height: 32px;
    width: auto;
    color: var(--white);
}
