.add_button_container {
    background-color: var(--secondary-500);
    padding: var(--space-small);
    width: 56px;
    height: 56px;
    border-radius: var(--space-small);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--space-small);
    color: var(--black-500);
}

.collection_header {
    color: var(--black-500);
}

.create_collection_container {
    display: flex;
    margin-bottom: var(--space-small);
}

.add_button_container:hover {
    background-color: var(--primary-500);
    color: var(--white);
}
