.list_container {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    gap: var(--space-regular);
    padding: var(--space-regular);
    border-radius: var(--space-extra-small);
}
.card_container {
    display: flex;
    gap: var(--space-regular);
    padding: 0 var(--space-regular);
    border-radius: var(--space-extra-small);
    width: fit-content;
    height: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
}

.card_image {
    width: 80px;
    height: auto;
    padding: var(--space-regular);
}

.scroll_arrow {
    background-color: var(--secondary-500);
    border-radius: var(--space-extra-small);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.scroll_arrow:hover {
    background-color: var(--secondary-700);
}

.icon {
    color: var(--black-500);
}

.section_container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section_name {
    text-align: left;
    align-self: flex-start;
    width: 100%;
    padding: 0 var(--space-regular);
    margin-left: var(--space-regular);
}

.empty_message {
    padding: var(--space-regular);
    color: var(--black-300);
    font-style: italic;
}
