.page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-regular);
    width: 393px;
    height: 852px;
    margin: 0px;
    padding: 0 var(--space-regular);
}

.page_header {
    display: flex;
    flex-direction: column;
    gap: var(--space-regular);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: var(--space-regular);
    box-sizing: border-box;
}

.page_nav {
    display: flex;
    flex-direction: row;
    gap: var(--space-small);
}

.page_content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: var(--space-regular);
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.page_beerheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    align-items: center;
    width: 100%;
}

.page_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-extra-small);
}

.page_beer {
    color: var(--black-500);
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.page_brewer {
    color: var(--black-300);
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    margin-top: -20px;
}

.page_image {
    height: 245px;
    width: auto;
}

.page_tags {
    display: flex;
    flex-direction: row;
    gap: var(--space-regular);
    align-items: center;
    margin-bottom: var(--space-medium);
    width: fit-content;
}

.page_spectitle {
    color: var(--black-500);
    font-family: var(--font-family);
    font-size: var(--font-regular);
    font-weight: var(--font-weight-bold);
    text-align: start;
    width: 100%;
    margin-top: -10px;
}

.page_spectext {
    color: var(--black-500);
    font-family: var(--font-family);
    font-size: var(--font-regular);
    text-align: start;
    width: 100%;
    margin-top: -20px;
}

.page_footer {
    margin-top: auto;
}

.text {
    padding: "20px";
    text-align: "center";
}
.reviews_section {
    display: flex;
    flex-direction: column;
    gap: var(--space-regular);
}

.review_actions {
    display: flex;
    flex-direction: row;
    gap: var(--space-regular);
    margin-bottom: var(--space-regular);
    flex-wrap: wrap;
}

.review_item {
    border: 2px solid var(--primary-100);
    padding: var(--space-regular);
    border-radius: var(--space-regular);
}

.edit_icon {
    fill: var(--primary-500);
}
.delete_icon {
    fill: var(--primary-500);
}
.item_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: var(--space-small);
    padding: var(--space-small);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    border-radius: var(--space-extra-small);
    border: 2px solid var(--primary-500);
}
.review_input {
    margin-top: var(--space-regular);
    display: flex;
    flex-direction: column;
    gap: var(--space-regular);
}
